
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
}

h1, h2, h3 {
    color: hsl(210, 10%, 33%);
    font-weight: bolder;
}

p {
    color:hsl(201, 11%, 66%);
    font-size: 18px;
    text-align: center;
}

button {
    border: none;
    padding: 1% 3%;
    margin: 0 1%;
    border-radius: 50px;
    font-size: 15px;
    color: #fff;
}

/* Header section */

.header {
    background-image: url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    margin-bottom: 9%;
}

.logo {
    margin: 5%;
}

.heading{
    font-size: 45px;
    margin: 0 2% 2%;
}

.header-paragraph{
    width: 45%;
    margin: auto;
    padding-bottom: 3%; 
}

.btn-ios {
    text-align: center;
    background-color: hsl(171, 66%, 44%)
}

.btn-mac{
    text-align: center;
    background-color: hsl(233, 100%, 69%);
}


/* Snippet section */

.secondary-heading{
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
}

.snipet-text{
    text-align: center;
    width: 47%;
    margin: auto;
    padding: 1.5% 0 5%;
}

.computer-image{
    margin-left: -30px;
}

.options{
    margin-top: 5%;
    padding-left: 5%;
    margin-bottom: 15%;
}

.option-text{
    width: 57%;
    margin-bottom: 7%;
    text-align: left;
}

/* Acces Section */

.access-part{
    text-align: center;
}

.access-part h2{
    padding-bottom: 10px;
}

.access-part p{
    width: 45%;
    margin: auto;
}

.device-image{
    margin: 6% 0;
}

/* Tools section */

.tools{
    padding-bottom: 7%;
}

.tools h2 {
    padding-bottom: 10px;
}

.tools h3 {
    text-align: center;
}

.tools p {
    padding-bottom: 4%;
}

.tool p{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

/* Logos section*/

.logos{
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-bottom: 10%;
}

.comp-logo {
    padding-right: 8%;
    width: 18%;
}

/* Clipboard section */

.clipboard {
    text-align: center;
    padding-bottom: 10%;
}

.clipboard h2{
    padding-bottom: 1%;
}

.clipboard p{
    margin: auto;
    width: 47%;
    padding-bottom: 4%;
}

/* Footer section */

li:not(:last-child) {
    margin-bottom: 10px;
}

 
.information{
    background-color: #f4f9f9;
    display: flex;
    padding: 3% 10%;
    justify-content:space-between;
    align-items: center;
}


.foot-ul{
    display: inline-block;
    list-style: none;
    color:hsl(210, 10%, 33%);
    margin: 0 5%;
    width: 100%;
    /* margin: 3% 8% 3% 3%; */
}

.footer-logo{
    width: 5%;
    height: 5%;
    display: inline;
    margin-right: 10%;
}

.container div{
    flex-grow: 2;
}

.foot-list{
    display: flex;
    justify-content: flex-end;
}

.foot-icon{
    margin: 0 3%;
    font-size: 25px;
    color:hsl(210, 10%, 33%);

}

.icons{
    display: flex;
    justify-content: flex-end;
}

.attribution{
    background-color: #f4f9f9;
    padding-bottom: 50px
}



@media screen and (max-width: 500px){
/* Header section */

    .header{
        background-image: url(images/bg-header-mobile.png);
    }

    .logo{
        padding-bottom: 10%;
        width: 35%;
    }

    .heading{
        padding-bottom: 7%;
    }

    .header-paragraph{
        width: 75%;
        padding-bottom: 15%;
    }

    .btn-ios, .btn-mac {
        width: 90%;
        padding: 4% 7%;
        margin-bottom: 5%;
        font-size: 20px;
        box-shadow: 2px 4px hsl(201, 11%, 66%);
    }

    .btn-mac{
        margin-bottom: 35%;
    }

    /* Snippet section */

    .secondary-heading{
        width: 93%;
        text-align: center;
        padding-bottom: 2%;
    }

    .snipet-text{
        width: 72%;
        padding-bottom: 18%;
    }

    .computer-image{
       height: 55%; 
       margin-left: 40px;
    }

    .options{
        margin-top: -80px;
        text-align: center;
    }

    .options h3 {
        font-size: 30px;
    }

    .option-text {
        text-align: center;
        width: 87%;
        padding-left: 60px;
    }

    /* Access section */

    .secondary-heading{
        padding-bottom: 5%;
    }

    .access-part p{
        width: 70%;
        padding-bottom: 7%;
    }

    .device-image{
        width: 95%;
        margin-bottom: 25%;
    }

    /* Tools section */

    .tools h2{
        padding-bottom: 5%;
        padding-left: 7%;
    }

    .tool-paragraph{
        width: 85%;
        padding-left: 15%;
        padding-bottom: 5%;
    }

    .tool:last-child p:last-child{
        padding-bottom: 30%;
    }

    .comp-logo{
        padding-bottom: 25%;
        width: 55%;
    }

    .comp-logo:last-child{
        padding-bottom: 40%;
    }
    

    .clipboard h2{
        padding-left: 10%;
        padding-bottom: 5%;
    }

    .clipboard p{
        width: 70%;
        padding-bottom: 12%;
    }

    .footer-logo{
        width: 40%;
        margin: auto;
        padding: 10% 0;
    }

    .foot-list{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: -35px;
        font-size: 20px;
        line-height: 3rem;
    }

    .foot-list ul:last-child li:last-child{
        padding-bottom: 10%;
    }

    .icons{
        margin-left: -114px;
        padding-bottom: 7%;
    }

    .foot-icon{
        font-size: 2rem;
    }
}   